@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #070A13;
    color: #FFFFFF;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #05070B;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #171F38;
  border-radius: 3px;
}